.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}
.social a {
  margin-right: 22px;
}
.social a:last-child {
  margin-right: 0px;
}

.rules {
  text-align: right;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .social a {
    margin-bottom: 5px;;
  }
  .rules {
    max-width: 50%;
    align-self: flex-end;
  }
}